*
    padding: 0
    margin: 0
    box-sizing: border-box
.content
    max-width: 1256px
    width: 100%
    margin: 0 auto
a
    text-decoration: none
    
ul, li
    text-decoration: none
input
    display: none